.QuizPage {
  background: url("../../assets/svg/recipe-page/Recipe-background.svg") 0 0/100% auto;
}

.QuizPage-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 50px;
}

.QuizPage-board {
  max-width: 1200px;
  border-radius: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: url("../../assets/svg/recipe-page/strip-board.svg") 0 0/100% auto no-repeat;
}

.dish-picture {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  /* background: url("../../assets/svg/recipe-page/recipe-demo.svg")0 0/100% auto no-repeat;; */
}

.dish-picture>img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
}

.dish-composition {
  margin: 20px auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}