.sort-by-area {
    flex-grow: 1;
    background: url('../../assets/jpeg/back_area_cuisine.jpg') center no-repeat;
    background-size: cover;

}
.sort-by-area__inner {
    margin-bottom: 50px;

}
.sort-by-area__inner h3 {

}
.sort-by-area__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 830px;

}
h3 {
    font-family: 'Rochester', cursive;
    font-weight: 400;
    font-size: 36px;

}
h3 span {
    font-size: 40px;
}