.sort-by-area {

}
.sort-by-area__inner {

}
.sort-by-area__inner h3 {

}
.sort-by-area__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 830px;

}