.oneplayer__info {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-between;
}

.oneplayer__info>div {
  width: 30%;
  font-size: 23px;
  font-family: "Rufina", sans-serif;
  text-transform: capitalize;

}

.avatar_container>div {
  width: 100px;
  height: 100px;
}