.RecipePage {
  background: url("../../assets/svg/Recipe-background.svg") 0 0/100% auto;
}

.RecipePage-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 50px;
}

.RecipePage-board {
  border: 1px solid black;
  max-width: 1200px;
  border-radius: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: url("../../assets/svg/strip-board.svg") 0 0/100% auto no-repeat;
}

.dish-picture {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: url("../../assets/svg/recipe-demo.svg")0 0/100% auto no-repeat;;
}