.mainpage__container {
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-grow: 1;
  background-color: #E8F6F9;
}

.mainpage__vegetables-board {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: url('../../assets/webp/main-board.webp') center no-repeat;
  background-size: cover;

}

h2 {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #F0F0F0;
  text-align: start;
  padding-top: 80px;
  padding-bottom: 160px;
  padding-left: 50px;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;

}
.mainpage__test {
  position: relative;
  margin-top: 50px;
  padding: 10px 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  border: 1px solid #CAD8DB;
  border-radius: 20px;
  background-color: #CAEEF2;
  display: flex;
    flex-direction: column;
}
.all-test__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
  max-width: 968px;
}

.black__border {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rochester';
  font-size: 70px;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #E8F6F9;
  background-color: #000000e6;
}

.mainpage__test>h3 {
  font-family: 'Sansita', sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin: 20px 20px 20px 0; 

}

.mainpage__test>h3>span {
  font-size: 50px;
  line-height: 0;
}
h4 {
  font-family: 'Rochester', cursive;
  font-size: 45px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #EEF3FF;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.title-random {
  z-index: 5;
  height: 90px;
  max-width: 900px;
  background-color: #3d5a5ec5;
  border-radius: 20px;
  border: 1px solid rgba(30, 24, 97, 0.5);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 35px;

}
.start-test_btn {
  margin-right: 10px;
  height: 60px;
  width: 180px;
  padding-left: 6%;
  text-align: left;
  font-family: 'Rum Raisin', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 8px;
  color: #CAEEF2;
  border-radius: 9px;
  background: #0E5984 url('../../assets/svg/main-page/white-pot.svg') 95% 90% no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.start-test_btn:hover {
  background: #0E5984 url('../../assets/svg/main-page/white-pot.svg') 95% 90% no-repeat;
  color: #a7b1c1;
transform: scale(1.05);

}
.mainpage__food-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url('../../assets/webp/wood-table.webp');
}

.dish-cart {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin-bottom: 30px;
  padding: 0 20px;
}
.selection-category {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  background-color: #3d5a5ec5;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
  color: #CAD8DB;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 1024px){
  .dish-cart {
    padding: 0 40px;
  }
  .selection-category {
    font-size: 25px;
  }
  .title-random h4 {
    font-size: 40px;
  }
}
@media (max-width: 768px){
  .mainpage__vegetables-board h2 {
    font-size: 35px;
    line-height: 35px;
    padding-left: 150px;
    padding-top: 95px;
    padding-bottom: 140px;
  }
  .black__border{
    font-size: 40px;
  }
  .mainpage__test {
    max-width: 768px;
    border-radius: 5px;
    margin-top: 25px;

  }
  .mainpage__test>h3 {
    font-size: 30px;
    margin: 10px 20px 10px 0;
  }
  .start-test_btn {
    margin-right: 10px;
    height: 40px;
    width: 150px;
    padding-left: 7%;
    font-size: 25px;
    color: #CAEEF2;
    border-radius: 5px;
    background-size: contain;
  }
  .title-random h4 {
    font-size: 30px;
  }
  .title-random {
    height: 70px;
    max-width: 768px;
    border-radius: 10px;
    margin: 20px 20px;
  } 
  
  .dish__img {
    width: 220px;
    height: 220px;
  }
  .dish-title {
    font-size: 17px;
  }
  .dish-back {
    height: 65px;
  }
  .selection-category {
    font-size: 20px;
  }
  .all-test__btns {
    gap: 10px;
    padding-bottom: 10px;
    max-width: 320px;

  }
}
@media (max-width: 480px){
  .mainpage__vegetables-board h2 {
    font-size: 27px;
    line-height: 29px;
    padding-left: 125px;
    padding-bottom: 60px;
    padding-top: 90px;
  }
  .title-random h4 {
      font-size: 20px;
      line-height: 20px;
  }
  .title-random {
    height: 60px;
    max-width: 320px;
    border-radius: 7px;
    margin: 25px 10px;
  }
  .dish-back {
    display: none;
  }
  .dish__img {
    width: 100px;
    height: 100px;
}
.selection-category {
  font-size: 17px;
  width: 85%;

}
}