.mainpage__container {
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-grow: 1;
  background-color: #E8F6F9;
}

.mainpage__vegetables-board {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: url('../../assets/webp/main-board.webp') center no-repeat;
  background-size: cover;

}

/* .mainpage__message {
  margin: 120px 20% 0 0;
  width: 500px;
  height: 300px;
  background: url('../../assets/svg/main-page/board-message.svg')0 0/contain no-repeat;
} */
h2 {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #F0F0F0;
  text-align: start;
  padding-top: 80px;
  padding-bottom: 160px;
  padding-left: 50px;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;

}
.mainpage__test {
  margin-top: 50px;
  padding: 10px 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  border: 1px solid #CAD8DB;
  border-radius: 20px;
  background-color: #CAEEF2;
}

.mainpage__test>h3 {
font-family: 'Sansita', sans-serif;
font-size: 35px;
font-weight: 400;
}

.mainpage__test>h3>span {
  font-size: 50px;
  line-height: 0;
}
h4 {
  font-family: 'Rochester', cursive;
  font-size: 45px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #EEF3FF;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.title-random {
  z-index: 20;
  height: 90px;
  max-width: 900px;
  background-color: #3d5a5ec5;
  border-radius: 20px;
  border: 1px solid rgba(30, 24, 97, 0.5);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 35px;

}
.start-test_btn {
  height: 70px;
  width: 200px;
  padding-left: 8%;
  text-align: left;
  font-family: 'Rum Raisin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 8px;
  color: #CAEEF2;
  border-radius: 10px;
  background: #0E5984 url('../../assets/svg/main-page/white-pot.svg') 95% 90% no-repeat;
  cursor: pointer;
}

.mainpage__food-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url('../../assets/webp/wood-table.webp');
}

.dish-cart {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin-bottom: 30px;

}
.selection-category {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  background-color: #3d5a5ec5;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
  color: #CAD8DB;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8F6F9;
  width: 100%;
}