header {
    width: 100%;
    background: url('../../assets/jpeg/back_header.jpg') center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 30;
}
.header__inner {
    font-family: 'Rufina', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    background-size: cover;
    max-width: 1200px;
    height: 70px;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header-info {
    display: flex;
    align-items: center;
}
.header-logo {
    background: url('../../assets/svg/logo.svg') center no-repeat;
    width: 77px;
    height: 65px;
    margin-top: 5px;
    cursor: pointer;
}
.header-list {
    display: flex;
    transition: 0.5s;
    padding-left: 20px;
}
.header-link {
    font-size: 24px;
    line-height: 24px;
    color: #062B4D;
    transition: 0.5s;
}
.header-link:hover {
    color: #421049;
    text-decoration: underline;
}
.header-account {
    display: flex;
    align-items: center;
    height: 100%;
    white-space:nowrap;
}
.userpic {
    width: 80px;
    height: 100%;
    background-image: url("./../../assets/png/3-rsStuden.png");
    background-size: 80%;
    filter: brightness( 0% );
    background-repeat: no-repeat;
}
.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 22px;
    text-align: start;

}

.header-authorization {
    display: flex;
}
.authorization__btn {
    width: 100%;
    padding: 5px 18px;
    font-weight: 400;
    font-size: 20px;
    color: #F0F0F0;
    transition: .3s;
    cursor: pointer;
}
.authorization__btn:hover {
    transform: scale(1.1);
    background-color: #111266;
}

.btn__link {
    color: #F0F0F0;
}

.burn-arr {
    width: 80px;
    height: 65px;
    background: url('../../assets/png/1-burned.png') 0 0/auto 100% no-repeat;
  }

  .cool-arr {
    width: 80px;
    height: 100%;
    background: url('../../assets/png/2-coolman.png') 0 0/auto 100% no-repeat;
  }

  .stud-arr {
    width: 80px;
    height: 100%;
    background: url('../../assets/png/3-rsStuden.png') 0 0/auto 100% no-repeat;
  }

  .super-arr {
    width: 80px;
    height: 100%;
    background: url('../../assets/png/4-superman.png') 0 0/auto 100% no-repeat;
  }

  .secret-arr {
    width: 80px;
    height: 100%;
    background: url('../../assets/png/5-secretive.png') 0 0/auto 100% no-repeat;
  }

  .sam-arr {
    width: 80px;
    height: 100%;
    background: url('../../assets/png/6-samurai.png') 0 0/auto 100% no-repeat;
  }

  .sound_on {
    background: url('../../assets/png/sound-on.png') 0 0/auto 100% no-repeat;
    cursor: pointer;
  }

  .sound_off {
    background: url('../../assets/png/sound-off.png') 0 0/auto 100% no-repeat;
    cursor: pointer;
  }

  .sound_on,
  .sound_off{
    margin: 0 2vw;
    width: 30px;
    height: 30px;
  }
  .header-info__tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: 5px;
    height: 65px;
  }
  .header__tablet {
    display: flex;
    align-items: center;
  }
  @media (max-width: 450px){
    .userinfo {
      font-size: 17px;
    }
    
  }

