header {
    width: 100%;
    background: url('../../assets/jpeg/back_header.jpg') center no-repeat;
    background-size: cover;
}
.header__inner {
    font-family: 'Rufina', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    background-size: cover;
    max-width: 1400px;
    height: 70px;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header-info {
    display: flex;
    align-items: center;
}
.header-logo {
    background: url('../../assets/svg/logo.svg') center no-repeat;
    width: 77px;
    height: 65px;
    margin-right: 45px;
    cursor: pointer;
}
.header-list {
    display: flex;
    transition: 0.5s;
}
.header-link {
    margin-right: 35px;
    font-size: 24px;
    line-height: 24px;
    color: #062B4D;
    transition: 0.5s;
}
.header-link:hover {
    color: #421049;
    text-decoration: underline;
}
.header-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    height: 100%;
}
.userpic {
    width: 50px;
    height: 50px;
    background-image: url("./../../assets/svg/userpic.svg");
    background-repeat: no-repeat;
}
.userinfo {
    display: flex;
    flex-direction: column;
}
.header-authorization {
    display: flex;
}
.authorization__btn {
    padding: 5px 18px;
    font-weight: 400;
    font-size: 20px;
    color: #F0F0F0;
    margin-left: 25px;
    transition: .3s;
}
.authorization__btn:hover {
    transform: scale(1.1);
    background-color: #111266;
}

.btn__link {
    color: #F0F0F0;
}
